/* //META { "name": "Rainbow_Kitten", "description": "Rainbow kittens desu ! ;3 made with square's help", "author": "アザグエン", "version": "2.0" } *// {}

/* App Background */
	/* settings */
:root {
  --rainbow-anim: rainbow 30s infinite linear;
  --background-overlay: rgba(0,0,0, 0.40);
  /* Colors */
	/* Main */
  --Color-blue: 133,160,255;
  --Color-blue-dark: 26,32,50;
  --Color-blue-darker: 13,16,25;
	/* Others */
  --Color-red: 255,160,133;
  --Color-red-dark: 50,16,26;
  --Color-red-darker: 25,16,13;
  --Color-green: 160,255,133;
	/* Buttons styling consistency */
		/* 0 = Normal 1 = Hovered 2 = Active*/	
  --Box-border: 2px dashed;
		/* 0 = 50% opacity 1 and 2 = 100% opacity */	
  --Box-AB-0:, 0.5;
  --Box-AB-1:, 1;
  --Box-AB-2:, 1;
		/* 0 = 12.5% opacity 1 = 50% opacity 2 = 75% opacity*/
  --Box-AC-0:, 0.125;
  --Box-AC-1:, 0.5;
  --Box-AC-2:, 0.75;
	/* Border radiuses */
		/* 0 = Thin 1 = larger 2 = Largest */
  --Radius-0:3px;
  --Radius-1:6px;
  --Radius-2:35px;
}

/* rainbow */
@keyframes rainbow 
{
	from { -webkit-filter: hue-rotate(0deg); }
	to { -webkit-filter: hue-rotate(360deg); }
}

	/* wallpaper */
#app-mount:before 
{ 
	background: url(https://img07.deviantart.net/594b/i/2017/208/0/c/cat_wallpaper_discord_by_azagwen-dbhvtdi.png);
}

	/* fix flickers */
html, span:not(.spinner-item) 
{
	backface-visibility: hidden;
}

/* Main background and settings background */
#app-mount:before 
{
	background-position: 50%;
	background-size: cover;
	animation: var(--rainbow-anim);
	position: fixed;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
	content: "";
}

/* scrollbars */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece 
{
	border: none !important;
	background: rgba(var(--Color-blue)var(--Box-AC-0)) !important;
}
::-webkit-scrollbar-track-piece 
{
	background: transparent !important;
}
:not(:hover)::-webkit-scrollbar-thumb 
{
	background: transparent !important;
}
::-webkit-scrollbar 
{
	max-width: 10px;
}

	/* fix not having a background image anymore */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: var(--background-overlay) !important;
}

	/* Fix Title Bar */
.titleBar-AC4pGV
{
	background: var(--background-overlay);
	transform: scale(1,1.5) translate(0px,-3.5px);
}
.wordmark-2iDDfm
{
	transform: scale(1,0.7) translate(0px,-1px);
}
.winButton-iRh8-Z
{
	transform: scale(1,0.7) translate(0px,5px);
}

	/* Transparent Backgrounds */
		/* Main areas */
.container-2lgZY8,
.theme-dark .wrapper-1Rf91z, 
.theme-light .wrapper-1Rf91z,
.channels-Ie2l6A, .container-PNkimc,
.theme-dark .members-1998pB, .members-1998pB,
		/* Activity tab */
.theme-dark .activityFeed-1C0EmJ, .theme-light .activityFeed-1C0EmJ,
.theme-dark .container-1r6BKw, .theme-light .container-1r6BKw,
		/* Game library tab */
.theme-dark .gameLibrary-TTDw4Y, .theme-light .gameLibrary-TTDw4Y,
.theme-dark .header-39GIC8, .theme-light .header-39GIC8,
.theme-dark .root-1BQpZw, .theme-light .root-1BQpZw,
		/* Nitro store tab */
.theme-dark .applicationStore-1pNvnv, .theme-light .applicationStore-1pNvnv,
		/* Friends tab */
.theme-dark .container-3gCOGc, .container-3gCOGc,
		/* Private messages */
.theme-dark .messagesWrapper-3lZDfY, .theme-dark .messagesWrapper-3lZDfY,
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3
{
	background: transparent;
}

	/* Blue backgrounds + 35px Borders */
	/* Activity tab boxes */
.theme-dark .wrapper-3UweLa, .theme-light .wrapper-3UweLa,
.theme-dark .outer-2IVh5n, .theme-light .outer-2IVh5n
{
	background: rgba(var(--Color-blue)var(--Box-AC-0));
	border-radius: var(--Radius-2);
}
