/* //META { "name": "Rainbow_Kitten", "description": "Rainbow kittens desu ! ;3 made with square's help", "author": "アザグエン", "version": "0.0.3" } *// {}

/* App Background */
/* settings */
:root {
  --rainbow-anim: rainbow 30s infinite linear;
  --background-overlay: rgba(0,0,0, 0.7);
  /* Colors */
	/* Blue */
  --Color-blue: 133,160,255;
  --Color-blue-dark: 13,16,25;
  --Color-blue-darker: 26,32,50;
	/* Others */
  --Color-red: 255,133,160;
  --Color-green: 160,255,133;
}

/* wallpaper */
.app:before 
{ 
	background: url(https://img07.deviantart.net/594b/i/2017/208/0/c/cat_wallpaper_discord_by_azagwen-dbhvtdi.png);
}

/* fix flickers */
html, span:not(.spinner-item) 
{
	backface-visibility: hidden;
}

/* Main background and settings background */
.app:before 
{
	background-position: 50%;
	background-size: cover;
	animation: var(--rainbow-anim);
	position: fixed;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
	content: "";
}

/* rainbow */
@keyframes rainbow 
{
	from { -webkit-filter: hue-rotate(0deg); }
	to { -webkit-filter: hue-rotate(360deg); }
}

/* Core Elements */
.textarea 
{
	background: transparent;
}

/* scrollbars */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece 
{
	border: none !important;
	background: rgba(128,128,128, 0.3) !important;
}
::-webkit-scrollbar-track-piece 
{
	background: transparent !important;
}
:not(:hover)::-webkit-scrollbar-thumb 
{
	background: transparent !important;
}
::-webkit-scrollbar 
{
	max-width: 10px;
}

/* Hide */
.links, .help-container,
.channel-members-loading 
{
	display: none;
}

/* Main Background */
.links, .chat, .typing, .content, .guild-channels, .private-channels,
.guild-header, .divider-red span, .messages-wrapper, #voice-connection 
{
	background: transparent !important;
}

/* Connecting screen */
.connecting
{
	background: url(https://orig05.deviantart.net/82f0/f/2017/211/3/d/untitled_drawing_by_azagwen-dbi9s7d.png);
	animation: var(--rainbow-anim)
}
/* Server list area */
.guilds-wrapper 
{
	background: rgba(0,0,0, 0.25);
}

/* grey background for servers without image (and DM button) */
.guild-inner 
{
	background-color: transparent !important;
}

.theme-dark .layer, .theme-dark .layers, .layers, .layer,
.layer > .ui-standard-sidebar-view > .sidebar-region,
.layer > .ui-standard-sidebar-view > .content-region,
.layers .layer #friends .friends-header,
.layers .layer #friends .friends-table,
.theme-dark .private-channel-call, .private-channel-call,
.theme-dark .ui-video, .ui-video 
{
	background: transparent;
}

.theme-dark .layers, .layers 
{
	background: var(--background-overlay);
}

/* settings and friendslist background */
.layer > .ui-standard-sidebar-view
{
	background: url(https://orig05.deviantart.net/82f0/f/2017/211/3/d/untitled_drawing_by_azagwen-dbi9s7d.png);
	background-position: 50%;
	background-size: cover;
	left: 0; top: -35px;
	width: 100vw;
	height: 100vh;
}
.layers .layer #friends 
{
	background: transparent;
}

/* Channels list area */
.channels-wrap 
{
	/*box-shadow: inset 0 0 0 -6px rgba(0,0,0, 0);*/
	background: transparent;
}

.container-RYiLUQ, .search-bar
{
	background-color: transparent;
}

/* Chat area */
.content .flex-spacer 
{
	/*box-shadow:inset 10px 0px 5px -6px rgba(0,0,0, 0);*/
	background: transparent;
}
.chat > .title-wrap.title-wrap-dark 
{
	background-color: transparent;
}

/* User list area */
	/* Background */
.channel-members 
{
	background: transparent!important;
}
	
	/* Members */
		/* Default */
.channel-members .member.member-status
{
	background-color: rgba(var(--Color-blue), 0.1);
}

		/* Hovered */
.channel-members .member.member-status:hover
{
	background:rgba(var(--Color-blue),0.3);
}
		/* Selected / popout opened */
.app .channel-members .member.popout-open
{
	background:rgba(var(--Color-blue-darker),1);
}

/* chat area encoding */
.markup:after 
{
	color: rgba(var(--Color-blue), 1);
	font-size: 0.9rem ;
	content: ".";
    animation: var(--rainbow-anim);
}
.markup:before 
{
	color: rgba(var(--Color-blue), 1);
	font-size: 0.7rem;
	font-style: italic;
	content: "Said : ";
	animation: var(--rainbow-anim);
}

.message-group .comment .markup
{
	color: rgba(var(--Color-blue), 1);
	font-size: 1.1rem ;
	font-weight: 500;
	opacity:2;
}

/* code blocks */
.message-group > .comment .markup > code.inline,
.message-group > .comment .markup > pre > code,
.message-group > .comment .markup > pre 
{
	background: rgba(var(--Color-blue-dark),0.5) !important;
	border-width: 0;
	border-radius: 15px;
}

/* color & shape corrections */

	/* Add server button */
		/* Default */
.guilds-wrapper .guilds-add 
{
	background-color:transparent;
	border-color: rgba(var(--Color-blue), 0.25);
	color: rgba(var(--Color-blue), 0.25);
	animation: var(--rainbow-anim);
}
.guilds-wrapper .guilds-add:hover 
{
	background-color: rgba(var(--Color-blue-darker), 0.5);
	border-color: rgba(var(--Color-blue), 1);
	color: rgba(var(--Color-blue), 1);
}


/* Private Channels / freind & groups list */
	/* Online Friends badge */
.badge {
    border-radius: 50px;
    background-clip: padding-box;
	animation: var(--rainbow-anim);
    background-color:rgba(var(--Color-blue),1);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    display: inline-block;
    padding: 3px 6px;
}
	/* Default */
.private-channels .channel .channel-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
	opacity:.5;
    color:rgba(255,255,255,1);
}
.private-channels .channel a
{
	background-color: rgba(var(--Color-blue), 0.1);
    border-radius: 50px;
}
	/* Hovered */
.private-channels .channel:hover a
{
	background-color: rgba(var(--Color-blue), 0.3);
    border-radius: 50px;
}
	/* Selected */
.private-channels .channel.selected a 
{
	background-color: rgba(var(--Color-blue), 0.7);
	border-radius: 50px;
}
/* Friend list */
	/* Buttons 
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-add {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…EzMzh6Ii8+CiAgICA8cGF0aCBkPSJNMSAxaDI0djI0SDFWMXoiLz4KICA8L2c+Cjwvc3ZnPg==)!important;
	border-color:transparent;
	border-radius:50px;
}
*/
	/* Hovered */
.theme-dark #friends .friends-table .friends-row:hover 
{
    background:rgba(var(--Color-blue),0.45);
    border-color: transparent;
	Border-radius:50px;
}
/* Server's channels */

.channels-wrap [draggable] > div > [class^="content"]
{
	background: transparent !important;
}
	/* Margin */
.channels-wrap [draggable] *
{
	margin-top:2px
}
	/* text */
.channels-wrap [draggable] *
{
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.6);
}
	/* Default */
		/* Background */
[draggable] > [class^="wrapperDefault"], .channels-wrap  a
{
	background-color:rgba(var(--Color-blue),0.1);
}

	/* Hovered */
		/* Background */
[draggable] > [class^="wrapperHover"], .channels-wrap  a
{
	background-color:rgba(var(--Color-blue),0.3);
}

	/* Unread */
		/* Background */
[draggable] > [class^="wrapperUnread"], .channels-wrap  a
{
	background-color:rgba(var(--Color-green),0.1);
}

	/* Selected */
		/* Background */
[draggable] > [class^="wrapperSelected"], .channels-wrap  a
{
	background-color:rgba(var(--Color-blue),0.7);
}

	/* Locked */
		/* Background */
[draggable] > [class^="wrapperLocked"], .channels-wrap  a
{
	background-color:rgba(var(--Color-red),0.1);
}

	/* Muted */
		/* Background */
[draggable] > [class^="wrapperMute"], .channels-wrap  a
{
	background-color:rgba(var(--Color-blue-darker),0.5);
}


/* Server Member list */
.member  
{
	border-radius: 50px;
	margin-top: 1px;
}

.chat .divider 
{
	position: relative;
	cursor: default;
	margin-left: 20px;
	margin-right: 6px;
	display: flex;
	align-items: center;
	height: 0;
	background-color:rgba(var(--Color-blue),1);
	z-index: 0;
}

/* Message dividers */
.theme-dark .messages-wrapper .messages .divider:not(.red) span 
{	
	color: rgba(var(--Color-blue), 1);
	background-color: rgba(0,0,0,0);
	animation: var(--rainbow-anim);
}

/* BOT tag */
.bot-tag 
{
	background: rgba(var(--Color-blue), 1);
	animation: var(--rainbow-anim);
	font-size: 14px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	margin-left: 6px;
	padding: 2px 3px;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: bottom;
	line-height: 16px;
	flex-shrink: 0;
}

/* Title bar */
.titlebar
{
    background:rgba(0,0,0,0.8);
    height:35px!important;
}

.popout-bottom[style*="overflow: hidden; visibility: visible;"]
{
    top:92px!important;
}
/* Discord logo */
.titlebar:after
{
    content:url(https://discordapp.com/assets/f8389ca1a741a115313bede9ac02e2c0.svg);
    #animation: var(--rainbow-anim);
	position:absolute;
    top:7px;
    left:15px;
    opacity:1;
    height:20px;
    width:24px
}
/* Discord text */
.titlebar:before
{
    content:url(https://discordapp.com/assets/9babbea9acbfec5302d832bae6c3c184.svg);
    #animation: var(--rainbow-anim);
	position:absolute;
    top:7px;
    left:36px;
	#left:580px;
    opacity:1;
    height:20px;
    width:80px
}
.win-buttons button
{
    height:33px!important;
    width:40px!important;
    background-size: 25px;
    background-repeat:no-repeat;
}

.win-buttons
{
    height:36px;
    right:0px;
}
.win-buttons.win-buttons-notice
{
    top:0!important
}
.app
{
    margin-top:35px
}
.separator-win
{
    display:none
}


