/* //META { "name": "Rainbow_Kitten", "description": "Rainbow kittens desu ! ;3 made with square's help", "author": "アザグエン", "version": "0.1.3.5" } *// {}

/* App Background */
	/* settings */
:root {
  --rainbow-anim: rainbow 30s infinite linear;
  --background-overlay: rgba(0,0,0, 0.40);
  /* Colors */
	/* Main */
  --Color-blue: 133,160,255;
  --Color-blue-dark: 26,32,50;
  --Color-blue-darker: 13,16,25;
	/* Others */
  --Color-red: 255,160,133;
  --Color-red-dark: 50,16,26;
  --Color-red-darker: 25,16,13;
  --Color-green: 160,255,133;
	/* Buttons styling consistency */
		/* 0 = Normal 1 = Hovered 2 = Active*/	
  --Box-border: 2px dashed;
  --Box-AB-0:, 0.5;
  --Box-AB-1:, 1;
  --Box-AB-2:, 1;
  --Box-AC-0:, 0.1;
  --Box-AC-1:, 0.5;
  --Box-AC-2:, 0.7;
	/* Border radiuses */
		/* 0 = Thin 1 = larger 2 = Largest */
  --Radius-0:3px;
  --Radius-1:6px;
  --Radius-2:35px;
}

	/* wallpaper */
#app-mount:before 
{ 
	background: url(https://img07.deviantart.net/594b/i/2017/208/0/c/cat_wallpaper_discord_by_azagwen-dbhvtdi.png);
}

	/* fix flickers */
html, span:not(.spinner-item) 
{
	backface-visibility: hidden;
}

/* Main background and settings background */
#app-mount:before 
{
	background-position: 50%;
	background-size: cover;
	animation: var(--rainbow-anim);
	position: fixed;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
	content: "";
}

/* rainbow */
@keyframes rainbow 
{
	from { -webkit-filter: hue-rotate(0deg); }
	to { -webkit-filter: hue-rotate(360deg); }
}

/* Core Elements */
.textarea
{
	background: transparent;
}

	/* fix not having a background image anymore */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: var(--background-overlay) !important;
}

	/* Transparent Backgrounds */
.theme-dark .layer, .theme-dark .layers, .layers, .layer,
.theme-dark .guildsWrapper-5TJh6A,
.layers .layer #friends .friends-header,
.theme-dark .private-channel-call, .private-channel-call,
.theme-dark .ui-video, .ui-video,
.theme-dark .friends-table, 
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark #friends,
.theme-dark .layers, .layers,
.theme-dark .title-3qD0b-,
.channels-Ie2l6A, .container-PNkimc,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .divider-3gKybi span,
.theme-dark .noChannel-Z1DQK7,
.channels-wrap,.container-2lgZY8,  
.theme-dark .members-1998pB,
.video-1kutKI,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .header-39GIC8, 
.shine-2f1uEU, .shineInner-fWUhvE,
.appMount-3lHmkl
{
	background: transparent;
}

/* Home icon */
#app-mount .homeIcon-1FoKUJ 
{
background: url('https://azagwen.github.io/Rainbow_kittens_theme/assets/Discord-Logo-cat-alpha.svg');
color: rgba(0,0,0,0);
background-position: center;
background-size: cover;
}

/* Games tab */
	/* Articles */
.smallCarousel-3UDi9v
{
    background-color: transparent;
}
.article-FleDq5 
{
    background-color: transparent;
    border-radius: 35px;
}
.header-3l0ZQE {
    left: 0px;
}
.background-17WUpK 
{
    -webkit-mask: linear-gradient(0deg,transparent,#000);
	-webkit-mask-size: 500px;
	-webkit-mask-position-y: 0px;
    -webkit-mask-repeat: repeat-x;
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}
	/* Games "Cards" */
.theme-dark .card-7JP0BX
{
	-webkit-transition: 0.25s ease-in-out;
    background-color: transparent;
	border-radius: 35px;
}
.theme-dark .header-1RC2Wb,
.theme-dark .body-SKIE6r 
{
	-webkit-transition: 0.25s ease-in-out;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
.theme-dark .header-1RC2Wb:hover,
.theme-dark .body-SKIE6r:hover 
{
	-webkit-transition: 0.25s ease-in-out;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
	/* News panels */
.news-2GDtLJ 
{
	-webkit-transition: 0.25s ease-in-out;
    background-color: rgba(var(--Color-blue-dark),1);
    border-radius: 35px;
}
.news-2GDtLJ:hover 
{
	-webkit-transition: 0.25s ease-in-out;
    background-color: rgba(var(--Color-blue-dark),1);
    border-radius: 6px;
}
	/* Games icons in the 2nds row */
.theme-dark .dockItem-2kQDqg
{
	-webkit-transition: 0.25s ease-in-out;
    border-radius: 35px;
}
.theme-dark .dockItem-2kQDqg:hover 
{
	-webkit-transition: 0.25s ease-in-out;
    background-color: rgba(var(--Color-blue-dark),0.5);
    border-radius: 6px;
}
.dockIcon-1aEfsH:first-child 
{
    margin-left: 0;
    border-radius: 35px;
    border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}

/* Shop tab */
	/* Caroussel Item */
.carouselItem-3UIHqv,
.theme-dark .itemBackground-1jfD8p,
.carouselContainer-1KvOK0,
.theme-dark .itemBackground-1jfD8p:before 
{
		border-radius: var(--Radius-2);
}
.theme-dark .itemBackground-1jfD8p:before 
{
    background: rgba(var(--Color-blue-dark)var(--Box-AC-1));
}
	/* Titles */
		/* Normal */
.tile-367QuY, .tileWrapper-2khh-w
{
		border-radius: var(--Radius-2);
}
.theme-dark .tileWrapper-2khh-w
{
		background: rgba(var(--Color-blue-dark)var(--Box-AC-1));
}
		/* Hovered */
.theme-dark .tileWrapper-2khh-w:hover
{
		background: rgba(var(--Color-blue)var(--Box-AC-1));
}
/* All Channels */
	/* Server Channels */
		/* Default */
.contentDefaultText-3vZplL, 
.contentDefaultVoice-2ko43i
{
	-webkit-transition: 0.25s ease-in-out;
	border-radius: 35px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
		/* Hovered */
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO
{   
	-webkit-transition: 0.25s ease-in-out;
	border-radius: 3px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-1));
}
		/* Locked */
.contentLockedText-1aHuz8, 
.contentLockedVoice-1gx-SP
{   
	-webkit-transition: 0.25s ease-in-out;
	border-radius: 35px;
	background-color: rgba(var(--Color-red)var(--Box-AC-0));
}
		/* Muted */
.contentMutedText-2y6aPQ, 
.contentMutedVoice-2lJ0UD
{  
	-webkit-transition: 0.25s ease-in-out;
	border-radius: 35px;
	background-color: rgba(var(--Color-red)var(--Box-AC-0));
}
		/* Selected */
.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM
{   
	-webkit-transition: 0.5s ease-in-out;
	border-radius: 35px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-2));
}
		/* unread */
.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt
{   
	-webkit-transition: 0.25s ease-in-out;
	border-radius: 35px;
	background-color: rgba(var(--Color-green)var(--Box-AC-0));
}

	/* Draggable channels */
		/* Default */
[Draggable]	
.contentDefaultText-3vZplL, 
.contentDefaultVoice-2ko43i
{
	-webkit-transition: 0.25s ease-in-out;
	border:var(--Box-border);
	border-radius: 35px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
	Border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
		/* Hovered */
[Draggable]	
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO
{   
	-webkit-transition: 0.25s ease-in-out;
	border:var(--Box-border);
	border-radius: 3px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-1));
	Border-color: rgba(var(--Color-blue)var(--Box-AB-1));
}
		/* Locked */
[Draggable]	
.contentLockedText-1aHuz8, 
.contentLockedVoice-1gx-SP
{   
	-webkit-transition: 0.25s ease-in-out;
	border:var(--Box-border);
	border-radius: 35px;
	background-color: rgba(var(--Color-red)var(--Box-AC-0));
	Border-color: rgba(var(--Color-red)var(--Box-AB-0));
}
		/* Muted */
[Draggable]	
.contentMutedText-2y6aPQ, 
.contentMutedVoice-2lJ0UD
{  
	-webkit-transition: 0.25s ease-in-out;
	border:var(--Box-border);
	border-radius: 35px;
	background-color: rgba(var(--Color-red)var(--Box-AC-0));
	Border-color: rgba(var(--Color-red)var(--Box-AB-0));
}
		/* Selected */
[Draggable]	
.contentSelectedText-3wUhMi, 
.contentSelectedVoice-1WDIBM
{   
	-webkit-transition: 0.5s ease-in-out;
	border:var(--Box-border);
	border-radius: 35px;
	background-color: rgba(var(--Color-blue)var(--Box-AC-2));
	Border-color: rgba(var(--Color-blue)var(--Box-AB-2));
}
		/* unread */
[Draggable]	
.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt
{   
	-webkit-transition: 0.25s ease-in-out;
	border:var(--Box-border);
	border-radius: 35px;
	background-color: rgba(var(--Color-green)var(--Box-AC-0));
	Border-color: rgba(var(--Color-green)var(--Box-AB-0));
}
.side-8zPYf6 .item-PXvHYJ 
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
}

	/* Channel notices */
.channelNotices-41mJbj 
.channelNotice-1-XFjC.invite-OjTXrW 
{
    background: transparent url(/assets/bf625d222187f542b9d7179109422e2c.svg) no-repeat center 20px;
}
.channelNotices-41mJbj 
.channelNotice-1-XFjC.quickswitcher-35bYg4 
{
    background: transparent url(/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) no-repeat center 35px;
}
.theme-dark .cardPrimary-1Hv-to 
{
    border: 2px solid;
    border-radius: 25px;
    background: rgba(var(--Color-blue-dark),1);
    border-color: rgba(var(--Color-blue)var(--Box-AC-0));
}

	/* Members */
		/* Default */
.theme-dark .member-3W1lQa 
.content-OzHfo4 
{
	-webkit-transition: 0.25s ease;
	border-radius: 3px;
	background: rgba(var(--Color-blue)var(--Box-AC-0));
}
		/* Hovered */
.theme-dark .member-3W1lQa:hover 
.content-OzHfo4 
{
	-webkit-transition: 0.25s ease;
	background:rgba(var(--Color-blue)var(--Box-AC-1));
	border-radius: 3px;
}
		/* Popout opened */
.theme-dark .member-3W1lQa.popout-open 
.content-OzHfo4 
{
	-webkit-transition: 0.25s ease;
	background:rgba(var(--Color-blue)var(--Box-AC-1));
	border-radius: 3px;
}
		/* Popout opened Hovered */
.theme-dark .member-3W1lQa.popout-open:hover 
.content-OzHfo4 
{
	-webkit-transition: 0.25s ease;
	background:rgba(var(--Color-blue)var(--Box-AC-1));
	border-radius: 3px;
}

	/* Popup boxes */
		/* Message box */
.theme-dark .modal-3HD5ck 
{
	border:var(--Box-border);
	border-radius: 35px;
    background: rgba(var(--Color-blue-dark),1);
	border-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
.theme-dark .messagesPopoutWrap-1MQ1bW
{
	border:var(--Box-border);
	border-radius: 10px;
    background: rgba(var(--Color-blue-dark),1);
	border-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
	/* Hiding useless parts */
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .footer-2yfCgX
{
    background-color: transparent;
    box-shadow: none;
}
		/* Pin message */
.theme-dark .message-2qRu38,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group
{
	background: url(https://img00.deviantart.net/41a5/i/2018/153/9/5/cat_wallpaper_darker_discord_by_azagwen-dcd8ype.png);
}
.theme-dark .messagesPopoutWrap-1MQ1bW 
.messagesPopout-24nkyi .message-group:hover 
.actionButtons-1sUUug 
{
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW 
.messagesPopout-24nkyi .message-group 
.actionButtons-1sUUug .jumpButton-3DTcS_ 
{
    border-radius: 35px;
    background-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
.theme-dark .messagesPopoutWrap-1MQ1bW 
.messagesPopout-24nkyi .message-group 
.actionButtons-1sUUug .jumpButton-3DTcS_:hover 
{
    background-color: rgba(var(--Color-blue)var(--Box-AC-1));
}
			/* Image when no messages are Pinned */
.image-2JDb81 
{
	background-image: url(https://azagwen.github.io/Rainbow_kittens_theme/assets/Pinned_Cat.svg) !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 120px;
    height: 120px;
    width: 120px;
}
		/* Preview messgae */
.container-1RjyoP .preview-2nSL_2 
{
    background: url(https://img00.deviantart.net/41a5/i/2018/153/9/5/cat_wallpaper_darker_discord_by_azagwen-dcd8ype.png);
}
	/* User profile popup */
		/* Main box */
.root-SR8cQa 
{
	border:var(--Box-border);
    border-radius: 35px;
	border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
		/* Main background */
.theme-dark .body-3ND3kc,
.topSectionPlaying-1J5E4n 
{
    background-color: rgba(var(--Color-blue-dark), 1);
}
		/* Details */
.headerFill-adLl4x 
{
    background-color: rgba(var(--Color-blue)var(--Box-AC-0));
}
.theme-dark .connectedAccount-36nQx7, 
.theme-dark .userInfoSection-2acyCx+
.userInfoSection-2acyCx 
{
    border-color: transparent;
}
/* scrollbars */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece 
{
	border: none !important;
	background: rgba(128,128,128, 0.3) !important;
}
::-webkit-scrollbar-track-piece 
{
	background: transparent !important;
}
:not(:hover)::-webkit-scrollbar-thumb 
{
	background: transparent !important;
}
::-webkit-scrollbar 
{
	max-width: 10px;
}

/* Hide */
.links, .help-container,
.channel-members-loading 
{
	display: none;
}	

/* Buttons */
	/* Permision checkers */
.theme-dark .item-3T2z1R 
{
    border-color: transparent;
}
		/* First */
.item-3T2z1R:first-child
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-0));
}
.item-3T2z1R:first-child:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-1));
}
.theme-dark .denySelected-1mh2mZ
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-2));
}
.theme-dark .denySelected-1mh2mZ:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-1));
}

		/* Middle */
.passthrough-1c2ewQ
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-blue)var(--Box-AC-0));
}
.passthrough-1c2ewQ:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-blue)var(--Box-AC-1));
}
.theme-dark .passthroughSelected-1Eq0Kl
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-blue)var(--Box-AC-2));
}
.theme-dark .passthroughSelected-1Eq0Kl:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-blue)var(--Box-AC-1));
}

		/* Last  */
.item-3T2z1R:last-child
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-0));
}
.item-3T2z1R:last-child:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-1));
}
.theme-dark .allowSelected-25S_i5
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-2));
}
.theme-dark .allowSelected-25S_i5:hover
{
	-webkit-transition: 0.25s ease;
    border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-1));
}
	/* Green Buttons */
.theme-dark .lookFilled-1Gx00P
.hoverGreen-1gjdJc.hasHover-3X1-zV,
.headerButtonColor-G7_f-V
{	
    border:var(--Box-border);
    border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-0));
    border-color: rgba(var(--Color-green)var(--Box-AB-0));
	color: #fff
}

.theme-dark .lookFilled-1Gx00P
.hoverGreen-1gjdJc.hasHover-3X1-zV:hover
{	
    background: rgba(var(--Color-green)var(--Box-AC-1));
    border-color: rgba(var(--Color-green)var(--Box-AB-1));
}

.theme-dark .lookFilled-1Gx00P
.hoverGreen-1gjdJc.hasHover-3X1-zV:active
{	
    background: rgba(var(--Color-green)var(--Box-AC-2));
    border-color: rgba(var(--Color-green)var(--Box-AB-2));
}
.theme-dark .lookFilled-1Gx00P
.hoverGreen-1gjdJc.hasHover-3X1-zV,
.headerButtonColor-G7_f-V:disabled
{
    background: rgba(var(--Color-green), 0.1);
    border-color: rgba(var(--Color-green), 0.5);
}
	/* Red Buttons */
.actionRed-1J19Tx, 
.lookOutlined-3sRXeN.colorRed-1TFJan,
.lookFilled-1Gx00P.colorRed-1TFJan
{
    border:var(--Box-border);
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-0));
    border-color: rgba(var(--Color-red)var(--Box-AB-0));
	color: #fff
}
.actionRed-1J19Tx:hover, 
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:hover 
{
    background: rgba(var(--Color-red)var(--Box-AC-1));
    border-color: rgba(var(--Color-red)var(--Box-AB-1));
}
.actionRed-1J19Tx:active, 
.lookOutlined-3sRXeN.colorRed-1TFJan:active,
.lookFilled-1Gx00P.colorRed-1TFJan:active
{
    background: rgba(var(--Color-red)var(--Box-AC-2));
    border-color: rgba(var(--Color-red)var(--Box-AB-2));
}
.actionRed-1J19Tx:disabled, 
.lookOutlined-3sRXeN.colorRed-1TFJan:disabled,
.lookFilled-1Gx00P.colorRed-1TFJan:disabled
{
    background: rgba(var(--Color-red), 0.1);
    border-color: rgba(var(--Color-red), 0.5);
}
	/* Blue Buttons */
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9,
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV
{
    border:var(--Box-border);
	background: rgba(var(--Color-blue)var(--Box-AC-0));
    border-color: rgba(var(--Color-blue)var(--Box-AB-0));
    border-radius: 35px;
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover, 
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover,
.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:hover,
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover
{
    background: rgba(var(--Color-blue)var(--Box-AC-1));
    border-color: rgba(var(--Color-blue)var(--Box-AB-1));
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:active, 
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:active,
.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:active,
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:active
{
    background: rgba(var(--Color-blue)var(--Box-AC-2));
    border-color: rgba(var(--Color-blue)var(--Box-AB-2));
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:disabled, 
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:disabled,
.theme-dark .lookFilled-1Gx00P.colorTransparent-1ewNp9:disabled,
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:disabled
{
    background: rgba(var(--Color-blue-darker), 0.5);
    border-color: rgba(var(--Color-blue), 0.5);
}
.lookInverted-2D7oAl.colorBrand-3pXr91
{
	border: none;
    background: rgba(255, 255, 255, 0.8);
	color: rgba(var(--Color-blue), 1);
}
	/* Invitations Buttons */
		/* Join */
.lookFilled-1Gx00P.colorGreen-29iAKY 
{
    border:var(--Box-border);
	border-radius: 35px;
    background: rgba(var(--Color-green)var(--Box-AC-0));
    border-color: rgba(var(--Color-green)var(--Box-AB-0));
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover 
{
    background: rgba(var(--Color-green)var(--Box-AC-1));
    border-color: rgba(var(--Color-green)var(--Box-AB-1));
}
		/* Expired */
.lookFilled-1Gx00P.colorBrand-3pXr91 
{
    border: 2px dashed;
    border-radius: 35px;
    background: rgba(var(--Color-red)var(--Box-AC-0));
    border-color: rgba(var(--Color-red)var(--Box-AB-0));
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover 
{
    background: rgba(var(--Color-red)var(--Box-AC-1));
    border-color: rgba(var(--Color-red)var(--Box-AB-1));
}
	/* Spotify button */
.actionsUserPopout-2MrzCa .button-1Pkqso, 
.listeningActionsUserPopout-Ga2V_N 
.button-1Pkqso
{
    border:var(--Box-border);
    border-radius: 35px;
	background: rgba(var(--Color-blue)var(--Box-AC-0));
    border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
.actionsUserPopout-2MrzCa .button-1Pkqso, 
.listeningActionsUserPopout-Ga2V_N 
.button-1Pkqso:hover
{
    border:var(--Box-border);
    border-radius: 35px;
	background: rgba(var(--Color-blue)var(--Box-AC-1));
    border-color: rgba(var(--Color-blue)var(--Box-AB-1));
}
	/*Invite people button*/
.channelNotices-41mJbj .channelNotice-1-XFjC 
.message-3SOT5P .btn-11C5_u 
{   
	-webkit-transition: 0.25s ease;
    border:var(--Box-border); 
    border-radius: 35px;
	background: rgba(var(--Color-blue)var(--Box-AC-0));
	border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
.channelNotices-41mJbj .channelNotice-1-XFjC 
.message-3SOT5P .btn-11C5_u:hover 
{
	-webkit-transition: 0.25s ease;
    background: rgba(var(--Color-blue)var(--Box-AC-1));
	border-color: rgba(var(--Color-blue)var(--Box-AB-1));
}
.channelNotices-41mJbj .channelNotice-1-XFjC 
.message-3SOT5P .btn-11C5_u:active
{
	-webkit-transition: 0.25 ease;
    background: rgba(var(--Color-blue)var(--Box-AC-2));
	border-color: rgba(var(--Color-blue)var(--Box-AB-2));
}
	/* Friends row Buttons */
.theme-dark #friends .friends-table 
.friends-row:hover, .rowWrapper-2fB6P0:hover 
{
    border-radius: 35px;
    background: rgba(var(--Color-blue),0.2);
    border-color: transparent;
}
#friends .friends-table .friends-row 
.friends-column-actions 
.friends-action.friends-action-cancel:hover, 
#friends .friends-table .friends-row 
.friends-column-actions 
.friends-action.friends-action-remove:hover,
#friends .friends-table .friends-row 
.friends-column-actions 
.friends-action.friends-action-ignore:hover
{
    background-color: rgba(var(--Color-red),0.5) !important;
    border-color: rgba(var(--Color-red)var(--Box-AB-1)) !important;
}
	/* Friends list actions Buttons */
.theme-dark #friends .friends-table .friends-row 
.friends-column-actions .friends-action 
{
    border:var(--Box-border);
	border-radius: 35px;
    background-color: rgba(var(--Color-blue),0.2);
    border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
.theme-dark #friends .friends-table .friends-row 
.friends-column-actions .friends-action:hover 
{
    border:var(--Box-border);
    background-color: rgba(var(--Color-green),0.5);
    border-color: rgba(var(--Color-green)var(--Box-AB-1));
}
/* Buttons END */

/* NSFW channel Image */
.theme-dark .image-3fVkBI 
{
	background: url(https://azagwen.github.io/Rainbow_kittens_theme/assets/NSFW_channel_RBKT.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center ;
	animation: var(--rainbow-anim);
}

/* Main Background */
.links, .chat, .typing, .content, 
.guild-channels, .private-channels,
.guild-header, .divider-red span, 
.messages-wrapper, #voice-connection, 
.theme-dark .headerBar-UHpsPw,
.theme-dark .activityFeed-28jde9
{
	background: transparent !important;
}
	/* Tab bar Item */
.theme-dark #friends 
.tab-bar.tab-bar-desktop .tab-bar-item 
{
	-webkit-transition: 0.25s ease;
    background-color: rgba(var(--Color-blue),0.1);
    border-radius: 35px;
}
	/* Tab bar Item hovered */
.theme-dark #friends 
.tab-bar.tab-bar-desktop .tab-bar-item:hover 
{
	-webkit-transition: 0.25s ease;
    background-color: rgba(var(--Color-blue),0.3);
    border-radius: 3px;
}
	/* Tab bar Item selected */
.theme-dark #friends 
.tab-bar.tab-bar-desktop .tab-bar-item.selected
{
	-webkit-transition: 0.25s ease;
    background-color: rgba(var(--Color-blue),0.5);
    border-radius: 35px;
	color: #fff;
}

/* Connecting screen */
.appMount-3VJmYg
{
	background: transparent;
}
.container-16j22k
{
	background: url(https://orig05.deviantart.net/82f0/f/2017/211/3/d/untitled_drawing_by_azagwen-dbi9s7d.png);
	animation: var(--rainbow-anim);
}

/* user Profile popout */
	/* First popout */
.userPopout-3XzG_A {
    border: 2px solid;
	border-radius: 35px;
	border-color: rgba(var(--Color-blue), 0.5);
    overflow: hidden;
    width: 250px;
    background: url(https://img07.deviantart.net/594b/i/2017/208/0/c/cat_wallpaper_discord_by_azagwen-dbhvtdi.png);
}
	/* Headers transparency */
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6, 
.headerPlaying-j0WQBV,
.headerNormal-T_seeN,
.headerSpotify-zpWxgT
{
	background-color: rgba(0, 0, 0, 0.65) !important;
}
	/* Quick message button */
.theme-dark .quickMessage-1yeL4E 
{
    background-color: rgba(var(--Color-blue), 0.3);
    border:var(Button-border);
	border-color: rgba(var(--Color-blue), 0.5);
	border-radius: 35px;
    color: hsla(0,0%,100%,.7);
} 
.activity-3NviKQ 
{
    background-color: transparent;
    padding: 10px;
}

.body-3ljq11
{
    border-bottom: none;
    padding: 10px;
}
.footer-2wFs91 
{
    padding: 10px;
}
.quick-message {
    -webkit-box-sizing: border-box;
    background-color: rgba(var(--Color-blue),0.3);
    border:var(Button-border);
	border-color: rgba(var(--Color-blue), 1);
    border-radius: 35px;
	transform: translate(0px, -10px);
}

	/* Tab bar */
#user-profile-modal .tab-bar .tab-bar-item.selected {
	border-bottom: none;
    color: rgba(var(--Color-blue), 1);
}
#user-profile-modal .tab-bar .tab-bar-item:hover {
	border-bottom: none;
    color: rgba(var(--Color-blue), 0.5);
}

/* Server list area */
.guilds-wrapper 
{
	background: transparent;
}

/* grey background for servers without image (and DM button) */
.guild-inner 
{
	background-color: transparent !important;
}


/* Game preview */
.popout-3sVMXz 
{
    border-radius: 35px;
	box-shadow: none;
}
.theme-dark .body-1SVoBw,
.news-2KwXHF
{	
	background: transparent;
}
.theme-dark .gamePreview-9weYR2 
{	
	border:var(--Box-border);
	border-radius: 10px;
    background: rgba(var(--Color-blue-dark),1);
	border-color: rgba(var(--Color-blue)var(--Box-AC-0));
	box-shadow: none;
}
/* ! Newer version style fixing */
.theme-dark .private-channel-call.minimum 
.private-channel-call-actions .center 
{
    background-color: rgba(var(--Color-blue),0.1);
    border:var(Button-border);
	border-color: rgba(var(--Color-blue),0.5);
	border-radius: 354px;
}


.theme-dark .headerBar-cxbhPD 
{
    background: transparent;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);	
}
	/* Double authenticating message */
.channelNotices-3AUnoM 
.channelNotice-cQsVXw
.guildMFAWarning-3XQius 
{
    background: url(/assets/916a384814e3bbd2a84e2a1b352a17c3.svg) no-repeat center 20px;
}
.video-3lOWa6 
{
    background-color: transparent !important;
}
	/* Friend list */
		/* Friends row */
.theme-dark #friends .friends-table 
.friends-row, .rowWrapper-2fB6P0,
.rowBackground-3MeNoN
{
    background: transparent;
    border-radius: 35px;
}
/* ! Newer versions END */

/* settings and friendslist background */
.layer > .ui-standard-sidebar-view
{
	background: url(https://orig05.deviantart.net/82f0/f/2017/211/3/d/untitled_drawing_by_azagwen-dbi9s7d.png);
	background-position: 50%;
	background-size: cover;
	left: 0; top: 0px;
	width: 100vw;
	height: 100vh;
}
/* Search friend popup background */
.theme-dark .quickswitcher-2NdiGJ {
    background-color: transparent;
    color: #dcddde;
	border-radius: 35px;
    background-image: url(https://orig05.deviantart.net/82f0/f/2017/211/3/d/untitled_drawing_by_azagwen-dbi9s7d.png);
}
	/* Search friend search bar */
.theme-dark .input-MwQhcX {
    background-color: rgba(var(--Color-blue), 0.1);
    border-radius: 35px;
    border:var(Button-border);
    border-color: rgba(var(--Color-blue), 0.5);
}
.theme-dark .resultFocused-2geRUA {
    background-color: rgba(var(--Color-blue), 0.1);
    border-radius: 35px;
}
/* Better discord theme menu */
.theme-dark .ui-standard-sidebar-view .sidebar-region 
{
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region 
{
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view
{
    background: transparent;
}
.ui-standard-sidebar-view .bda-slist li {
    background: rgba(var(--Color-blue-darker),0.7);
	border-radius: 60px;
	margin-bottom: 5px;
	border: 2px solid;
	border-color: rgba(var(--Color-blue),1);
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background: rgba(var(--Color-blue-darker),0.7);
	border: 2px solid;
	border-color: rgba(var(--Color-blue),1);
}
	/* theme's name */
.bda-slist .bda-name {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    font-size: 12px;
    overflow: hidden;
    display: block;
    max-height: 12px;
	transform: translate(200px, 0px);
}

	/* theme's desc */
.ui-standard-sidebar-view .bda-slist .bda-description {
	border: none;
    color: rgba(255, 255, 255, 0.5);
	transform: translate(50px, 0px);
}
/* checkbox */
{
}
/* Channels list area */

.container-RYiLUQ, .search-bar
{
	background-color: transparent;
}

/* search bars */
.searchBar-2_Yu-C
{
	background: transparent;
}
.searchBar-2_Yu-C .searchBarInner-1_Tg2R,
.theme-dark .search-2oPWTC .searchBar-3dMhjb
{	
	background: rgba(var(--Color-blue)var(--Box-AC-0));
    border: var(--Box-border);
    border-radius: var(--Radius-2);
    border-color: rgba(var(--Color-blue)var(--Box-AB-0));
}
/* Chat area */
	/* Typing indicator */
.theme-dark .typing-2GQL18 
{
    background-color: transparent;
}
	/* Typing area */
.innerNoAutocomplete-1WpcVO 
{
    border-radius: 35px;
	border:var(Button-border);
	border-color: rgba(var(--Color-blue),0.5);
}
.theme-dark .inner-zqa7da 
{
    background-color: rgba(var(--Color-blue),0.1);
}
	/* Username modifications */
.chat .user-name
{
	-webkit-transition: 0.5s ease;
}
.chat .user-name:hover 
{
	-webkit-transition: 0.5s ease;
    color: rgba(var(--Color-blue),1) !important;
}
	/* Images */
.imageWrapper-2p5ogY img
{
	-webkit-transition: 0.5s ease;
	transform: scale(1, 1);
	border-radius: 3px;
    opacity: 1;
}
/* Invitations */
	/* Main background */
.theme-dark .wrapper-35wsBm 
{
    background: rgba(var(--Color-blue), 0.1);
    border: 2px solid;
    border-radius: 60px;
    border-color: rgba(var(--Color-blue), 0.3);
}
	/* Button position */
.button-3To2tQ.buttonSize-DbrWhv 

{
    transform: translate(-10px,-12px);
}	
	/* Icon */
		/* Normal */
.theme-dark .guildIconImage-3qTk45 
{
	-webkit-transition: 0.5s ease;
    border-radius: 35px;
    transform: translate(10px, -10px);
}
		/* Normal Hover */
.theme-dark .guildIconImage-3qTk45:hover 
{
	-webkit-transition: 0.5s cubic-bezier(0.32,-0.74,0.36,1.71);
	transform: translate(10px, -10px) scale(1.25, 1.25);
}
		/* Expired */
.theme-dark .guildIconExpired-2Qcq05 
{
	-webkit-transition: 0.5s ease;
    border-radius: 35px;
    transform: translate(10px, -10px);
}
		/* Expired Hover*/
.theme-dark .guildIconExpired-2Qcq05:hover 
{
	-webkit-transition: 0.5s cubic-bezier(0.32,-0.74,0.36,1.71);
	transform: translate(10px, -10px) scale(1.25, 1.25);
}
	/* Details */
		/* Members */
.theme-dark .guildDetail-1nRKNE 
{
    transform: translate(34px, -22.5px) scale(1.15, 1.15);
}
		/* Expired info */
.guildNameExpired-2Hp80V 
{
    transform: translate(34px, -18.5px) scale(1.15, 1.15);
}
	/* Hide */
		/* Hide name */
.theme-dark .guildName-2hvnt_ 
{
    transform: scale(0, 0);
}
		/* Hide Title */
.theme-dark .h5-18_1nd 
{
    transform: scale(0, 0);
}
/* User list area */
	/* Background */

.theme-dark .memberOnline-1CIh-0 
{
    margin-top: 0;
}

/*
chat area encoding
.markup:after 
{
	color: rgba(var(--Color-blue), 1);
	font-size: 0.9rem ;
	content: ".";
    animation: var(--rainbow-anim);
}
.markup:before 
{
	color: rgba(var(--Color-blue), 1);
	font-size: 0.7rem;
	font-style: italic;
	content: "Said : ";
	animation: var(--rainbow-anim);
}
*/
.message-group .comment .markup
{
    color: white !important;
	font-size: 1.1rem ;
	font-weight: 500;
	opacity:2;
}

/* code blocks */
.message-group > .comment .markup > code.inline,
.message-group > .comment .markup > pre > code,
.message-group > .comment .markup > pre 
{
	background: rgba(var(--Color-blue-darker),0.5) !important;
	border-width: 0;
	border-radius: 15px;
}

/* color & shape corrections */

	/* Add server button */
		/* Default */
.theme-dark .guildsAdd-21_IdK
{
	-webkit-transition: 0.25s ease;
	background-color:transparent;
	border-color: rgba(var(--Color-blue), 1);
	color: rgba(var(--Color-blue), 1);
	animation: var(--rainbow-anim);
}
.theme-dark .guildsAdd-21_IdK:hover
{	
	-webkit-transition: 0.25s ease;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
	border-color: rgba(var(--Color-blue), 1);
	color: rgba(var(--Color-blue), 1);
}

.theme-dark .guildsAdd-21_IdK:active
{	
	-webkit-transition: 0.25s ease;
	background-color: rgba(var(--Color-blue)var(--Box-AC-1));
	border-color: rgba(var(--Color-blue), 1);
	color: rgba(var(--Color-blue), 1);
}

/* Writing area */
.theme-dark .inner-3if5cm {
    background-color: rgba(var(--Color-blue),0.1);
    border:var(--Box-border);
    border-color: rgba(var(--Color-blue),0.5);
    border-radius: 35px;
}
/* Channels */
	/* User tab buttons */
.button-2b6hmh 
{
	-webkit-transition: 0.5s ease;
	transform: scale(1,1);
    background-color: rgba(24,25,28,0);
    opacity: 0.3;
}
.button-2b6hmh:hover 
{
	-webkit-transition: 0.5s ease;
	transform: scale(1.2,1.2);
    background-color: rgba(24,25,28,0);
    opacity: 1;
}
/* Private Channels & friend chat list */
	/* Online Friends badge */
.badge {
    border-radius: 35px;
    background-clip: padding-box;
	animation: var(--rainbow-anim);
    background-color:rgba(var(--Color-blue),1);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    display: inline-block;
    padding: 3px 6px;
}
	/* Default */
.private-channels .channel .channel-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
	opacity:.5;
    color:rgba(255,255,255,1);
}
.channel-2QD9_O a
{
	-webkit-transition: 0.25s ease-in-out;
	background-color: rgba(var(--Color-blue)var(--Box-AC-0));
    border-radius: 35px;
}
	/* Hovered */
.channel-2QD9_O:hover a
{
	-webkit-transition: 0.25s ease-in-out;
	background-color: rgba(var(--Color-blue)var(--Box-AC-1));
    border-radius: 6px;
}
	/* Selected */
.channel-2QD9_O.selected-1HYmZZ a
{
	-webkit-transition: 0.5s ease-in-out;
	background-color: rgba(var(--Color-blue)var(--Box-AC-2));
	border-radius: 35px;
}

/* Server's channels */

.channels-wrap [draggable] > div > [class^="content"]
{
	background: transparent !important;
}
/* not Draggable / categories channels */
	/* Buttons */
		/* Gear */
.actionIcon-2Hi9ZG
{
    -webkit-transition: 0.5s ease;
    transform: scale(1, 1);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 18px;
    opacity: .3;
    width: 18px;
}
.actionIcon-2Hi9ZG:hover
{
    -webkit-transition: 0.5s ease;
    transform: rotate(180deg) scale(1.2, 1.2);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 18px;
    opacity: .75;
    width: 18px;
}
		/* Invite */
.icon-1792kv
{
    -webkit-transition: 0.5s ease;
	transform: scale(1, 1);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 18px;
    opacity: .3;
    width: 18px;
}
.icon-1792kv:hover
{
    -webkit-transition: 0.5s ease;
    transform: scale(1.2, 1.2);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 18px;
    opacity: .75;
    width: 18px;
}

/* Server Member list */
.member  
{
	border-radius: 35px;
	margin-top: 1px;
}

.chat .divider 
{
	position: relative;
	cursor: default;
	margin-left: 20px;
	margin-right: 6px;
	display: flex;
	align-items: center;
	height: 0;
	background-color:rgba(var(--Color-blue),1);
	z-index: 0;
}

/* Message dividers */
.theme-dark .messages-wrapper .messages .divider:not(.red) span 
{	
	color: rgba(var(--Color-blue), 1);
	background-color: rgba(0,0,0,0);
	animation: var(--rainbow-anim);
}

/* BOT tag */
.bot-tag 
{
	background: rgba(var(--Color-blue), 1);
	animation: var(--rainbow-anim);
	font-size: 14px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	margin-left: 6px;
	padding: 2px 3px;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: bottom;
	line-height: 16px;
	flex-shrink: 0;
}

/* Titlebar */
.typeWindows-1za-n7 {
    background-color: rgba(0, 0, 0, 0.8);
    height: 22px;
    margin-top: 0px;
}
